* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color: #fff;
  padding: 40px 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 200px;
}

.form-wrapper {
  margin: auto;
  width: 100%;               
  max-width: 700px;          
  display: flex;
  flex-direction: column;
  align-items: center;
}


form {
  width: 100%;
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}



.left h1 {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.left p {
  margin-bottom: 30px;
  color: #666;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.error-message {
  color: red;
  font-size: 0.85em;
  margin-top: 4px;
}

.forgot {
  text-align: right;
  margin-bottom: 20px;
}

.forgot a {
  text-decoration: none;
  font-size: 0.9em;
  color: #666;
}

.signin-btn {
  width: 100%;
  background-color: #8e44ad;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.signin-btn:hover {
  background-color: #732d91;
}

.signup {
  margin-top: 15px;
  text-align: center;
}

.signup a {
  color: #8e44ad;
  text-decoration: none;
}

.right {
  flex: 1;
  /* background: url('../images/postit.jpg') no-repeat center center;
  background-size: cover; */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right {
    height: 200px;
  }

  .logo {
    position: static;
    margin-bottom: 20px;
  }
}
